.git
.gitignore
.github
.idea
.vscode
.editorconfig
.gitattributes
.bitbucket

node_modules
public/build
public/hot
storage/app/private
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/framework/testing
storage/logs

.env
!.env.example
*.log
.phpunit.result.cache